.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#header{
  display: block;
  height: 3em;
  background-color: blue!important;
  width: auto;
align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.column {
  flex-basis: content;
  flex-wrap: wrap;
  align-content: center;
}


#box{
  display:flexbox;
  background-color: aqua;
  align-content: center;
}

.name{
  width: 10%;
  background-color: burlywood;
  display: flex;
  align-content: center;
}
.name :hover{
  background-color: cyan;
}
.descript{
  word-wrap: break-word;
  display: flex;
  flex-flow: row wrap;
  background-color: #fceb08;
  width: auto;
  align-content: center;
  max-width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  white-space: normal;
}
.descript  :hover{
  background-color: aqua;
  color:rgb(247, 52, 247);
}
.price{
  width: 10%;
  background-color: coral;
  display: flex;
  align-content: center;
}
.price :hover{
  background-color: rgb(255, 0, 212);
  color:rgb(247, 52, 247);
}

.dog{
  border-radius: 20%;
  border: 1em outset purple
}

.parent {
  background-color: #fceb08;
  margin: 10px;
  padding: 30px;
  height: 500px;
  display: flex;
  flex-flow: row wrap; /*flex-direction flex-wrap*/
  align-items: center;
  justify-content:center;
  align-content: flex-start;
}

.contOne{
  flex-direction: row;
}

.sub{
  display: flex;
  background-color: DodgerBlue;
}
@media only screen and (max-width: 330px) {
  .column{
    max-width: 5%!important;
    display: block;
    float: none;
  }
}

@media only screen and (max-width: 430px) {
  body{
    max-width: 155!important;
    display: block;
    float: none;
  }
}