
.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  /* 

.container .content {
  position: relative; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f5e31d; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
.carousel{
  height: 10px!important;
  
  color: #ff0000;
  margin-bottom: 20em!important;
}
.caption{
  color: #ff0000;
}
.carousel-control-prev,
.carousel-control-next{
  position: absolute;
  color:black;
}


.container {
  background-color: cyan;
  height: 5em;
}

.carselPic{
 height: 17em!important;
 width: 20em;
border: 1rem solid rgb(243, 4, 16);
border-radius: 20%;
margin-left: 15em;

} 

.caradiv{
  height: 20em;
  background-color: magenta;
  border: .5em solid blue;
}
h3{
  color:lime;
}
p{
  color:gold;
 
}