

.carousel{
  height: 10px!important;
  
  color: #ff0000;
  margin-bottom: 20em!important;
}

.caption{
  color: #ff0000;
}
.carousel-control-prev,
.carousel-control-next{
  position: absolute;
  background-color:black;
}


.container {
  background-color: cyan;
  height:auto;
}

.carselPic{
 height: 225px;
 width: auto;
border: 1rem solid rgb(243, 4, 16);
border-radius: 20%;
margin-left: 15em;

} 

.caradiv{
  height: 20em;
  background-color: magenta;
  border: .5em solid blue;
}
h3{
  color:lime;
}
p{
  color:gold;
 
}

@media screen and (max-width: 570px) {
  .carselPic{
   margin-left: 0em!important;
   width:10em!important;
  }
}