.MapContainer{
    
    border:1em solid cyan;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#col3 {
    height: 36em;
    color: #ff0000;
    background-color: rgb(250, 246, 8);
    font-style: italic;
    border: 2em solid lime;
  }
  

  img{
    border: 1rem solid purple;
    border: .5rem solid magenta;
   
  } 