body {
  background: #1e9600; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ff0000,
    #fff200,
    #1e9600
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff0000,
    #fff200,
    #1e9600
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(6, 253, 6) !important;
  border: 2em outset purple;
  font-family: "Lobster", cursive;
  height:163em;
}
/*  */
 

.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mdl-data-table {
  white-space: normal !important;
  max-width: 100%;
  height: auto;
display:block!important;
 
}

.header {
  background-color: rgb(10, 252, 171) !important;
  font-family: "Lobster", cursive;
}

.App {
  font-family: "Lobster", cursive;
}

.link {
  background-color: rgb(10, 252, 171) !important;
  color: rgb(8, 141, 79) !important;
  height: 0.5em;
}

.link2 {
  background-color: rgb(10, 252, 171) !important;
  color: red !important;
  font-family: "Lobster", cursive;
}


.apptize {
  color: blue;
}



.data {
  background-color: aqua;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive !important;
}



#col1 {
  height: 24em;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb5K31gVVfaVS0wjtz_ppAMVfV6HfYyA-YxkvBsaNU9RVVgRDA");
  background-repeat: no-repeat;
  background-size: cover;
}

#col11 {
  height: 24em;

  background-image: url("https://s3-media1.fl.yelpcdn.com/bphoto/LIrAm2KwdPxjIXIA6gJxig/o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}





.topOne {
  background-color: #1e9600;
  height: auto;
  width: auto;
}



.container{
  border: 1em solid purple;
  display: flexbox;
  height: 100%;
  align-items: stretch;
}






.flex-table {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.33%);
  grid-template-rows: repeat(auto-fill, 100%);
  background-color: black;
  font-size:1.5em;
}
.first {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #1e9600
}


.second {
  grid-column-start:2;
  grid-column-end: 3;
  background-color: chocolate;
}


.third {
  grid-column-start:3;
  grid-column-end: 4;
  background-color: darkcyan
}

.forth {
  grid-column-start:4;
  grid-column-end: 5;
  background-color: rgb(116, 30, 255);
}

#role{
  background-color: rgb(255, 127, 227)
}