#root{
  padding:20px;
}

.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mdl-data-table {
  white-space: normal !important;
}

.header {
  background-color: rgb(10, 252, 171) !important;
  font-family: "Lobster", cursive;
}

.App {
  font-family: "Lobster", cursive;
}

.link {
  background-color: rgb(10, 252, 171) !important;
  color: rgb(8, 141, 79) !important;
  height: 0.5em;
}

.link2 {
  background-color: rgb(10, 252, 171) !important;
  color: red !important;
  font-family: "Lobster", cursive;
}


.apptize {
  color: blue;
}



.data {
  background-color: aqua;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive !important;
}

.grid-3 {
  font-family: "Lobster", cursive !important;
  color: rgb(253, 6, 179);
  background-color: rgb(140, 245, 3);
}


#col1 {
  height: 24em;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb5K31gVVfaVS0wjtz_ppAMVfV6HfYyA-YxkvBsaNU9RVVgRDA");
  background-repeat: no-repeat;
  background-size: cover;
}

#col11 {
  height: 24em;

  background-image: url("https://s3-media1.fl.yelpcdn.com/bphoto/LIrAm2KwdPxjIXIA6gJxig/o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}





.topOne {
  background-color: #1e9600;
  height: auto;
  width: auto;
}



@media only screen and (max-width: 350px) {
  h4 {
    color: cyan;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  img {
    width: 8rem !important;
  }
}

@media only screen and (max-width: 450px) {
  h3 {
    font-size: 5rem !important;
  }
}



@media only screen and (max-width: 960px) {
  h4 {
    color: cyan;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 960px) {
  img {
    width: 2rem !important;
  }
}

@media only screen and (max-width: 960px) {
  h4{
    color:cyan!important;
  }
}

@media only screen and (max-width: 960px) {
  img {
    max-width: 8em !important;
  }
}



@media only screen and (max-width: 350px) {
  .DataTable{
    max-width: 8!important;
    color: aqua;
  }
}
.DataTable{
  max-width: 8!important;
  color: aqua;
  font-family: "Lobster", cursive !important;
}