body {
  background: #1e9600; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ff0000,
    #fff200,
    #1e9600
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff0000,
    #fff200,
    #1e9600
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:purple!important;
  border: 2em outset purple;
  font-family: "Lobster", cursive;
  height:auto;
 
}
/* 
/*
 * Define the widths: play around with these to get a best fit.
 */
 /* @text-width: 155px;
 @num-width: 80px;
 
 
 .table-row {
   display: flex;           display: -webkit-flex;
   flex-direction: row;     -webkit-flex-direction: row;
   flex-grow: 0;            -webkit-flex-grow: 0;
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
 }
 
 
 .wrapper {
   display: flex;           display: -webkit-flex;
   flex-direction: row;     -webkit-flex-direction: row;
   flex-grow: 0;            -webkit-flex-grow: 0;
   flex-wrap: wrap;         -webkit-flex-wrap: wrap;
 }
 
 
 .text-4, .text-2, .text {
   flex-grow: 1;           -webkit-flex-grow: 1;
 }
 
 
 .text {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   padding-right: 20px;
 }
 

 .text {
   width:auto;
 }
 
 .num {
   width: auto;
 }
 
 /*
  * General good-look styles, not mandatory.
  */
 body {
   font-size: 20px;
 }
 
 .table-row {
   border-bottom: 2px solid #e0e0e0;
   border-collapse: collapse;
   padding-top: 5px;
 }
 
 .table-row.header {
   background-color: #FFEEDB;
   font-weight: bold;
   padding-top: 8px;
   padding-bottom: 8px;
 }  */
 
 /* Some borders to show the behaviour. Uncomment to see it in action */
 /*
 .text-2, .num-2 {
   border: 1px solid green;
   padding: 2px;
   margin: 2px;
 }
 
 .text-4, .num-4 {
   border: 1px solid red;
   margin: 2px;
 }
 */
.responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mdl-data-table {
  white-space: normal !important;
  max-width: 100%;
  height: auto;

 
}

.header {
  background-color: rgb(10, 252, 171) !important;
  font-family: "Lobster", cursive;
}

.App {
  font-family: "Lobster", cursive;
}

.link {
  background-color: rgb(10, 252, 171) !important;
  color: rgb(145, 42, 241) !important;
  height: 12em;
}

.link2 {
  background-color: rgb(10, 252, 171) !important;
  color: red !important;
  font-family: "Lobster", cursive;
  height: 3em;
}

.apptize {
  color: blue;
}



.data {
  background-color: aqua;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive !important;
}



#col1 {
  height: 24em;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb5K31gVVfaVS0wjtz_ppAMVfV6HfYyA-YxkvBsaNU9RVVgRDA");
  background-repeat: no-repeat;
  background-size: cover;
}

#col11 {
  height: 24em;

  background-image: url("https://s3-media1.fl.yelpcdn.com/bphoto/LIrAm2KwdPxjIXIA6gJxig/o.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}





.topOne {
  background-color: #1e9600;
  height: auto;
  width: auto;
}



