body {
  margin: 0;
  font-family: 'Acme', sans-serif;
 

}

@media only screen and (max-width: 350px) {
  h4 {
    color: rgb(255, 0, 149);
    font-size: 1rem;
  }
} 

@media only screen and (max-width: 350px) {
  img {
    width: 8!important;
  }
}



@media only screen and (max-width: 260px) {
  img {
    width: 6!important;
  }
}



@media only screen and (max-width: 530px) {
  img {
    max-width: 8!important;
    display: block;
    float: none;
  }
}






@media only screen and (max-width: 460px) {
  p {
    font-size:2em!important
  }
}



@media only screen and (max-width: 700px) {
 img{
  max-width: 10!important;
   display: block;
   float: none;
   width:10;
  }
}

@media only screen and (max-width: 430px) {
  h1,p,
h2,
h3,
h4,
h5,
h6 {
   font-size: 1.5rem !important;
  }
}

@media only screen and (max-width: 280px) {
  h1,p,
h2,
h3,
h4,
h5,
h6 {
   font-size: 1rem !important;
 
  }
}


@media only screen and (max-width: 430px) {
  .mdl-data-table{
    
    font-size: 1em!important;
    display: inline-block !important;
   }
 }

 .caption{
   color: cyan;
 }

 
@media only screen and (max-width: 336px) {
  .mdl-data-table{
    
    font-size: .5em!important;
   }
 }


