body {
  margin: 0;
  font-family: 'Acme', sans-serif;
 

}

@media only screen and (max-width: 350px) {
  h4 {
    color: cyan;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  img {
    width: 8rem !important;
  }
}

@media only screen and (max-width: 450px) {
  h3 {
    font-size: 5rem !important;
  }
}



@media only screen and (max-width: 960px) {
  h4 {
    color: cyan;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 260px) {
  img {
    width: 10em !important;
  }
}

@media only screen and (max-width: 960px) {
  h4{
    color:cyan!important;
  }
}

@media only screen and (max-width: 760px) {
  img {
    max-width: 18em !important;
    float: none;
  }
}



@media only screen and (max-width: 350px) {
  .DataTable{
    max-width: 8!important;
    color: aqua;
  }
}
.DataTable{
  max-width: 8!important;
  color: aqua;
  font-family: "Lobster", cursive !important;
}


@media only screen and (max-width: 460px) {
  p {
    font-size:2em!important
  }
}

@media only screen and (max-width: 460px) {
  p {
    font-size:2em!important
  }
}

@media only screen and (nax-width: 700px) {
 img{
   display: block
  }
}